.containerBreadcrumb{
    border: solid transparent !important;

}
.breadcrumbSteps{
    color: black;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0;
}
.breadcrumbContainer{
    display: flex;
    flex-wrap: wrap !important;
    gap: 1rem;
    width: 1606px;
    top: 175px;
    left: 272px; 
}
.breadcrumbItem p{
    color: #767676;
    text-decoration: none !important;
    cursor: default;
    width: 56.48px;
    height: 10px;
    top: 175px;
    left: 968.18px;
    /* font-family: Lexend; */
    font-size: 8px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;


}
.breadcrumbItem h5{
    color: #0000004d;
    text-decoration: none !important;
    cursor: default;
    width: 171.9px;
    height: 14px;
    top: 187px;
    left: 504.06px;
    /* font-family: Lexend !important; */
    font-size: 11px !important;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}
.breadcrumbtextHeight p{
    margin-bottom: 0.25rem;
}
.breadcrumbtextHeight h5{
    margin-bottom: 0.5rem;
}